<ion-content>
    <ion-card class="card">
      <ion-header class="info-page-header">Proper Disposal Methods</ion-header>
    </ion-card>


  <!--Recycle-->
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="section-header">Recyclable Materials</ion-card-title>
    </ion-card-header>
    <ion-card-content class="items">
        <ion-item><ion-label>Paper and Cardboard</ion-label></ion-item>
        <ion-item><ion-label>Aluminum/Metal</ion-label></ion-item>
        <ion-item><ion-label>Milk/Juice Cartons</ion-label></ion-item>
        <ion-item><ion-label>Plastic Bottles/Containers</ion-label></ion-item>
        <ion-item><ion-label>Glass Jars/Bottles</ion-label></ion-item>
  </ion-card-content>
  </ion-card>

<!--Hazard-->
  <ion-card class="card" >
    <ion-card-header>
      <ion-card-title class="section-header">Hazardous Waste</ion-card-title>
    </ion-card-header>
    <div>These items must take to a </div>  
    <div style="margin: auto auto 20px"><a href="https://www.arlingtontx.gov/cms/One.aspx?portalId=14481146&pageId=14980879">Environmental Collection Center</a></div>
    <ion-card-content class="items">
        <ion-item><ion-label>Paint</ion-label></ion-item>
        <ion-item><ion-label>Oil</ion-label></ion-item>              
        <ion-item><ion-label>Chemicals</ion-label></ion-item>              
        <ion-item><ion-label>Other flammable or volatile substances.</ion-label></ion-item>
    </ion-card-content>
  </ion-card>

<!--Trash that meeds to ne delivered to the landfil-->
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="section-header">Landfill Waste</ion-card-title>
    </ion-card-header>
    <span style="margin: auto auto 20px">
      <div>Trash that must be take to the landfill</div>
      <div><a href="http://maps.google.com/maps?f=q&hl=en&q=800+Mosier+Valley+Road,+Arlington,+TX+76040&sll=32.810749,-97.105738&sspn=0.194772,0.31929&ie=UTF8&ll=32.807765,-97.117853&spn=0.048695,0.107975&z=14&iwloc=addr&om=1">Address & Location map</a></div>
    </span>
    <ion-card-content class="items">
        <ion-item><ion-label>Grass clippings</ion-label></ion-item>
        <ion-item><ion-label>Dirt</ion-label></ion-item>
        <ion-item><ion-label>Rock</ion-label></ion-item>
        <ion-item><ion-label>Construction debris</ion-label></ion-item>
        <ion-item><ion-label>Concrete</ion-label></ion-item>
        <ion-item><ion-label>Bricks</ion-label></ion-item>
        <ion-item><ion-label>Tries</ion-label></ion-item>
        <ion-item><ion-label>Boat/automotive parts</ion-label></ion-item>
        <ion-item><ion-label>Other waste building materials</ion-label></ion-item>
    </ion-card-content>
  </ion-card>
  <div style="text-align: center; padding-bottom: 20px;  padding-top: 20px;"><a href="https://www.arlingtontx.gov/">Source</a></div>
</ion-content>