<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="customerHeader">
      Customer
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Customer</ion-title>
    </ion-toolbar>
  </ion-header> 
  <!-- This is a map embeded in HTML  -->
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d13425.364476806593!2d-97.1251804!3d32.7301317!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sus!4v1655008205000!5m2!1sen!2sus" width="800" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</ion-content>