<ion-content>
  <a href="/resident/login">
    <ion-icon class="back-button" name="arrow-back-sharp"></ion-icon>
  </a>
  <ion-card class="card">
    <img class="bin-logo" src="assets/Logo/bin.png">
    <div class="ion-padding">
      <ion-card-title style="color:grey; text-align: center; margin-top: 10px; margin-bottom: 30px">Sign in to Bin Buddy Driver
      </ion-card-title>
      <form (ngSubmit)="login()" [formGroup]="credentials">
        <ion-input type="email" placeholder="company email" formControlName="email" class="input"></ion-input>
        <ion-input type="password" placeholder="company pin" formControlName="password" class="input"></ion-input>
        <!--TO DO: ADD LINK-->
        <a href="" class="right-justify">forgot password?</a>
        <ion-button type="submit" class="log-in-button">login</ion-button>
      </form>
      <ion-button fill="clear" class="driver-login-button" href="/resident/login">resident login</ion-button>
    </div>
  </ion-card>
</ion-content>