<ion-content>
  <ion-card class="card">
    <ion-header class="info-page-header">Emergency Contact Information</ion-header>
  </ion-card>


  <!--Recycle-->
  <ion-card class="card">
    <ion-card-header>
      <ion-card-title class="section-header">Company Numbers</ion-card-title>
    </ion-card-header>
    <ion-card-content class="items">
      <ion-item>
        <ion-label>Maintenance: 555-555-5555</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-tabs>
  <ion-tab-bar slot="bottom" class="navigation-bar">
    <ion-tab-button (click)="goToInfoPage()" class="padding-top-bottom">
      <ion-icon color="vibrant" name="information-circle-outline" class="tab-selection"></ion-icon>
      <ion-label color="vibrant">information</ion-label>
    </ion-tab-button>

    <ion-tab-button class="padding-top-bottom">
      <ion-icon (click)="goToHomePage()" color="vibrant" name="navigate-outline" class="tab-selection"></ion-icon>
      <ion-label color="vibrant">truck tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button class="padding-top-bottom">
      <ion-icon (click)="goToManagementPage()" color="vibrant" name="car" class="tab-selection"></ion-icon>
      <ion-label color="vibrant">driver settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>