<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="vehicleHeader">
      Vehicle
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content scrollY="false">
    
  <div class="row">
   <div class="column left">
   </div>
   <div class="column middle">
     Bin-Buddy
   </div>
   <div class="column right">
   </div>
  </div>
  <div class="row">
   <div class="column left">
   </div>
   <div class="column middle major">
     <ion-content  scrollY="false" class="main" >
       <ion-button class="button">Organization ID</ion-button>
       <ion-button class="button">Vehicle ID</ion-button>
       <ion-button class="button">Pin</ion-button>
     </ion-content>
   </div>
   <div class="column right">
   </div>
  </div>
 </ion-content>

