.column {
    margin-top: 130px; 
    font-family: 'Quicksand';
    position: relative;
    font-size: 30px;
    float: left;
    }
    
    .left {
      width: 25%;
    }

    .right {
      width: 25%;
    }
    
    .middle {
      width: 50%;
      text-align: center;
  }
    .main{
      padding-bottom: 20px;
      border: 1.5px solid #888;
      border-radius: 10px;
      height: 200px !important;
      box-shadow: 0 0 8px 0 rgba(0,0,0,0.25);
  }
  .major{
      margin-top: 125px;
      // flood-color: gray;
  }
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .vehicleHeader{
    color: white;
  }

  .button{
      width: 90%;
      margin: 7px;
  }
  ion-content{
      border-radius: 10px;
  }