<ion-tabs>
  <ion-tab-bar slot="bottom" class="navigation-bar">
    <ion-tab-button tab="proper-disposal-methods" class="padding-top-bottom">
      <ion-icon color="vibrant" name="information-circle-outline" class="tab-selection"></ion-icon>
      <ion-label color="vibrant">information</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="home" class="padding-top-bottom">
      <ion-icon color="vibrant" name="navigate-outline" class="tab-selection"></ion-icon>
      <ion-label color="vibrant">truck tracker</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="account-management" class="padding-top-bottom">
      <ion-icon color="vibrant" name="accessibility-outline" class="tab-selection"></ion-icon>
      <ion-label color="vibrant">account settings</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
