.card {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 30px;
    background-color: lightgrey;
    width: 80%;
    display: flex;
    margin: 20px auto 20px;
    flex-direction: column;
    align-items: center;
}

.feature-buttons {
    --border-radius: 80px;
    background-color: lightgrey;
    width: 80%;
    display: flex;
    margin: 20px auto 20px;
    align-items: center;
}

.user-image {
    width: 69px;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    margin-bottom: 10px;
}

.user-name {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 40px;
    color: black;
    font-weight: bold;
}

.back-button {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-top: 20px;
    font-size: xx-large;
    color: rgb(180, 180, 180);
}

.input {
    background-color: rgb(192, 192, 192);
    margin-top: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 80px;
    text-align: center;
    color: grey;
    height: 40px;
    font-size: 20px;
}

.submit-button {
    --border-radius: 80px;
    background-color: lightgrey;
    width: 125px;
    display: flex;
    margin: 20px auto 32px;
    align-items: center;
}